
@{
    ViewData["Title"] = "TabletDetail";
    Layout = "~/Views/Shared/clientPanel.cshtml";
}
@model Tablet
<!-- Details 1 -->
<div id="details" class="basic-2">
    <img class="decoration-star" src="~/images/decoration-star.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="img-fluid" width="100%" src="~/images/@ViewBag.singleTablet.TabletImage" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="text-container">
                    <h2>@ViewBag.singleTablet.Name</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Model:</strong> @ViewBag.singleTablet.ModelNumber</div>
                        </li>
                         <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Dies:</strong> @ViewBag.singleTablet.Dies</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Max Pressure:</strong> @ViewBag.singleTablet.MaxPressure</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Max Diameter:</strong> @ViewBag.singleTablet.MaxDiameter</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Max Depth Of Fill:</strong> @ViewBag.singleTablet.MaxDepthOfFill</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Production Capacity:</strong> @ViewBag.singleTablet.ProductionCapacity</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Machine Size:</strong> @ViewBag.singleTablet.MachineSize</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Net weight:</strong> @ViewBag.singleTablet.Netweight</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 1 -->
